* {
margin: 0;
padding: 0;
}
.container {
width: 1600px;
margin: 0 auto;
}
.top_cat {
height: 148px;
display: flex;
justify-content:space-between;
background-image: url(img/img_catalog/Rectangle\ 23.png);
}
.menu_cat { 
width: 439px;
height: 17px;
padding-top:59px ;
margin-left: 1161px;
margin-top: -84px;
}
.top_img{
padding-top: 59px;
padding-left: 230px;
width: 124px;
height: 29px;
}  
.block_top_cat {
display: flex;
justify-content:space-between;
margin-top: 0px;
text-align: center;
}
.narr {
height: 29px;
width: 300px;
padding-top: 59px;
padding-left: 170px;
text-align: center;
text-decoration: none;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}
.narr2 {
height: 17px;
padding-left: 0px;
text-align: center;
text-decoration: none;
font-family: Lato;
font-style: inherit;
font-style: normal;
font-weight: normal;
font-weight: 300;
font-size: 14px;
line-height: 29px;
color: #F16D7F;
    
}
.home {
height: 17px;
padding-left: 0px;
text-decoration: none;
font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}
.men {
height: 17px;
font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;   
color: #636363;
text-decoration: none;
}
/*--NAV_MENU----------------------------------------------------------------*/


.menu_link {
text-decoration: none;
display: block;
padding: 20px 25px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
font-weight: 700;
text-transform: uppercase;
}
.mega_heading {
width: 300px;
}
.mega_box {
width: 325.65px;
background-color:#FFFFFF;;
border: 5px;
padding: 20px;
position:absolute;
top: 0px;
display: none;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.mega_heading {
color: darkgreen;
font-family: Lato;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
width: 235px;
border-bottom: 1px solid #EBEBEB;
padding-bottom: 8px;
}
.mega_link {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration:none ;
color: #6F6E6E;;
text-decoration:none ;
display:block;
padding-top: 8px;
text-transform: uppercase;

}
.menu_list {
position: relative;
text-decoration:none;
margin-left: 236px;
}
.menu_list2 {
position: relative;
text-decoration:none;
margin-left: 228px;
}
.menu_list3 {
position: relative;
text-decoration:none;
margin-left: -11px;
}
.menu_list4 {
position: relative;
text-decoration:none;
margin-left: -11px;
}
.mega_link:hover {
color: #EF5B70;;
}
.mega_item {
margin-right: 46px;
}
.mega_item:last-of-type {
margin-right: 0px;
}

.menu_list:hover .mega_box{
display: flex;
}
.last:hover .mega_box {
right: 0;
left: auto;
}
.last:hover .mega-box:before {
right: 35px;
left: auto;
}
.sb_menu {
display: flex;
list-style-type: none
}
.top_sb {
margin: 0;
padding: 0;
text-align: left; 
color: #EF5B70;
}
.znak1{
float: right; 
margin: 3px 0px 2px 11px;
}
.znak2{
float: right; 
margin: -14px 160px 2px 0px;
}
.znak3{
float: right; 
margin: 5px -25px 2px 0px;
}
.stick2 {
float:left;
margin: -14px 16px -4px -4px;
}
/*--NAVIGATION---------------------------------------------------------*/
.menu_navi {
display: flex;
justify-content: space-between;

}
.menu_navi1 {
margin-top: 51px;
margin-left: 0px;

}
.menu_navi2 {
margin-right: 690px;
margin-top: 51px;
margin-bottom: 0px;
}

.navi_text {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration:none ;
color: #6F6E6E;
}
.navi_text1 {
margin-left: 246px;
}
.navi_text2 {
    margin-right: 27.98px;
}
.navi_text3 {
    margin-right: 27.98px;
}
/*--PAGINATION---------------------------------------------------------*/
.pagination {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-top: 13px;
    text-align: center;
}
.nomer {
    padding-left: 16px;
    margin-bottom: 0;
    text-decoration: none;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
}
.button_product2 {
    width: 282.91px;
    height: 43px;
    display: flex;
    justify-content:cente;
    margin-top: 45px;
    margin-left: 695px;
    border: 1px solid #EBEBEB;
    }
    .nomer:hover {
        color: #EF5B70;
    }
/*----------------------------------------------------------*/
